.board-toolbar {
  margin-bottom : 1px;
  position      : fixed;
  left          : 0;
  right         : 0;
  z-index       : 1000;
  width         : 100%;
  height        : $header-height;

  .navbar-inner{
    border-radius : 0;
  }

  .brand img {
    height : 1em;
  }

  ol, ul {
    margin: 0;
  }

  #repo-list {
    width : 400px;

    .filter {
      margin : 5px;

      .search-query {
        margin-top : 9px;
        width      : 100%;
        padding    : 13px;

        @include box-sizing(border-box);
      }
    }

    h3 {
      margin: 0px;
    }

    .org-list {
      height   : 300px;
      overflow : auto;
    }
  }

  #issue-search {
    width  : 20em;
    margin : 5px;
  }

  #settings {
    // Reduce the padding of the settings area to allow the avatar to have
    // enough space
    padding : 5px;
  }

  /**
   * Add styling for when a repo is hover (helps the user know which one they
   * will be selecting.
   */
  // Undo a little bit of Bootstrap
  .dropdown-menu li {
    &:hover {
      background: none;
    }
  }

  .repo-list {
    @include no-bullets;

    > li {
      font-weight : bold;
      padding     : 1px 9px;

      &:hover {
        background-color : $color-primary;
        color            : white;
      }
    }
  }
}

.toolbar-clear {
    position: absolute;
    top:      $header-height - 1;
    bottom:   0px;
    right: 0;
    left:  0;
}
