<div class="board-toolbar navbar" ng-controller="ToolbarCtrl as toolbarCtrl" >
  <div class="navbar-inner">
    <a class="brand" id="github-link" ng-href="http://github.com/{{trReposSrv.repoFullName}}" target="_blank" >
      <img src="assets/image/GitHub-Mark-64px.png"></img>
    </a>

    <ul class="nav">
      <li id="repo-selector" class="dropdown" >
        <a class="dropdown-toggle-no-close" >
          <span ng-if="!trReposSrv.repo" >yourname/repo</span>
          <span ng-if="trReposSrv.repo" >{{trReposSrv.repoFullName}}</span>
        </a>

        <div class="dropdown-menu">
          <div class="filter" >
            <input type="text" placeholder="Search" ng-model="repoSearchText"
                   class="search-query" ></input>
          </div>

          <ol class="repo-list">
            <li ng-repeat="(owner, repos) in toolbarCtrl.allRepos">
              {{owner}}
              <ol>
                <li ng-repeat="repo in repos | filter:repoSearchText"
                    ng-click="toolbarCtrl.onSwitchToRepo(repo)">
                  {{repo.full_name}}
                </li>
              </ol>

            </li>
          </ol>
        </div>
      </li>

      <li>
        <input id="issue-search" type="text" placeholder="Search" class="navbar-search"
               ng-model="trReposSrv.cardSearchText" ></input>
      </li>

      <li class="pull-right">
        <a ng-href="#repo/{{trReposSrv.owner}}/{{trReposSrv.repo}}/milestones">Planning</a>
      </li>

       <li class="pull-right">
        <a ng-href="#repo/{{trReposSrv.owner}}/{{trReposSrv.repo}}/board">Board</a>
      </li>

    </ul>

</div>
