.board-toolbar {
  margin-bottom   : 1px;
  position:fixed;
  left:0;
  right:0;
  z-index:1000;
  width:100%;
  height:$header-height;

  .navbar-inner{
    border-radius   : 0;
    background      : desaturate(lighten($color-background, 30),15);
    border          : 1px solid desaturate(lighten($color-background, 20),10);
  }
  .brand img {
    height          : 1em;
  }

  #repo-list {
    width           : 400px;

    .filter {
      margin          : 5px;

      .search-query {
        width           :      100%;
        padding         :    13px;
        box-sizing      : border-box;
      }
    }

    .repo-list {
        height        : 300px;
        overflow      : auto;
    }
  }

  #issue-search {
    width           : 20em;
    margin          : 5px;
  }

  #settings {
    // Reduce the padding of the settings area to allow the avatar to have
    // enough space
    padding         : 5px;
  }
}
