<div class="board-toolbar navbar"
     ng-controller="ToolbarCtrl as toolbarCtrl"
     ng-init="toolbarCtrl.init()">

  <div class="navbar-inner">
    <a class="brand" id="github-link" ng-href="http://github.com/{{repoModel.getFullRepoName()}}" target="_blank" >
      <img src="assets/image/GitHub-Mark-64px.png"></img>
    </a>

    <ul class="nav">
      <li id="repo-selector" class="dropdown" >
        <a class="dropdown-toggle-no-close" >
          <span ng-if="!repoModel.repo" >yourname/repo</span>
          <span ng-if="repoModel.repo" >{{repoModel.getFullRepoName()}}</span>
        </a>

        <div id="repo-list" class="dropdown-menu">
          <div class="filter no-close" >
            <input type="text" placeholder="Search" ng-model="repoSearchText"
                   class="search-query" ></input>
          </div>

          <ol class="repo-list">
            <li ng-repeat="(owner, repos) in toolbarCtrl.allRepos">
              {{owner}}
              <ol>
                <li ng-repeat="repo in repos | filter:repoSearchText"
                    ng-click="toolbarCtrl.onSwitchToRepo(repo)">
                  {{repo.full_name}}
                </li>
              </ol>
            </li>
          </ol>

        </div>
      </li>

      <li>
        <input id="issue-search" type="text" placeholder="Search" class="navbar-search"
               ng-model="issueFilters.searchText" ></input>
      </li>
    </ul>

    <button class="pull-right btn"
            ng-click="toolbarCtrl.refreshRepo()">
      <i class="icon-refresh"
         ng-class="{ 'icon-spin': toolbarCtrl.isRefreshing }"></i>
    </button>

    <ul class="nav pull-right"
        ng-controller="UserDetailsCtrl as userCtrl"
        ng-init="userCtrl.init()">

      <li class="dropdown" >
        <a id="settings" class="dropdown-toggle-no-close" >
          <img class="avatar" ng-src="{{sessionModel.user.avatar_url}}" ></img>
          {{sessionModel.user.login}}
        </a>

        <div class="dropdown-menu">
          <span ng-click="userCtrl.onLogout()">Logout</span>
        </div>
      </li>
    </ul>

    <ul class="nav pull-right" >
      <li>
        <a ng-href="#repo/{{repoModel.owner}}/{{repoModel.repo}}/milestones">Milestones</a>
      </li>

       <li>
        <a ng-href="#repo/{{repoModel.owner}}/{{repoModel.repo}}/board">Board</a>
      </li>

    </ul>

  </div>

</div>
