<div class="convert-to-pull"
     ng-controller="ConvertToPullCtrl as convertCtrl"
     ng-init="convertCtrl.init(issue)" >
  <div class="convert-header">
     Convert <em>"{{convertCtrl.issue.title}}"</em> to Pull&nbsp;Request</h3>
  </div>
  <i class="close icon-remove" ng-click="$close()"></i>
  <div class="branches">
    <!-- Topic Branch -->
    <span class="branch_type">Merge from </span>
    <div class="branch-selector dropdown" >
      <a class="btn dropdown-toggle-no-close" >
        {{convertCtrl.topicBranch}}<span class="caret"></span>
      </a>

      <div class="branch-pulldown dropdown-menu">
        <div class="menu-header no-close">
          <span class="menu-title">Choose topic branch</span>
        </div>
        <div class="menu-filter no-close" >
          <input type="text" placeholder="Search" ng-model="topicBranchSearch"
                 class="search-query" ></input>
        </div>

        <div class="menu-list">
          <div class="menu-item"
              ng-repeat="branch in convertCtrl.branches | filter:topicBranchSearch"
              ng-click="convertCtrl.selectTopicBranch(branch.name)">
            {{branch.name}}
          </div>
        </div>
      </div>
    </div>

    <!-- Base Branch -->
    <span class="branch_type">into</span>
    <div class="branch-selector dropdown" >
      <a class="btn dropdown-toggle-no-close" >
        {{convertCtrl.baseBranch}}<span class="caret"></span>
      </a>

      <div class="branch-pulldown dropdown-menu">
        <div class="menu-header no-close">
          <span class="menu-title">Choose base branch</span>
        </div>
        <div class="menu-filter no-close" >
          <input type="text" placeholder="Search" ng-model="baseBranchSearch"
                 class="search-query" ></input>
        </div>

        <div class="menu-list">
          <div class="menu-item"
              ng-repeat="branch in convertCtrl.branches | filter:baseBranchSearch"
              ng-click="convertCtrl.selectBaseBranch(branch.name)">
            {{branch.name}}
          </div>
        </div>
      </div>
    </div>
   <button ng-click="convertCtrl.convertToPull()"
             class="btn btn-primary"
             ng-disabled="convertCtrl.baseBranch === convertCtrl.topicBranch">
       Convert
     </button>
  </div>

  <div class="compare-summary"
       ng-show="convertCtrl.compareResults">

    <h4>Stats</h4>
    <ul class="stats-list">
      <li>Status: {{convertCtrl.compareResults.status}}</li>
      <li>Total commits: {{convertCtrl.compareResults.total_commits}}</li>
      <li>Files changed: {{convertCtrl.compareResults.files.length}}</li>
    </ul>

    <a class="compare btn" target="_blank"
     ng-href="{{convertCtrl.compareResults.html_url}}">
      Compare <i class="icon-external-link"/>
    </a>

    <h4>Commits</h4>
    <div class="commit_list">
      <div class="commit"
           ng-repeat="commit in convertCtrl.compareResults.commits">
        <img class="avatar"
             ng-src="{{commit.committer.avatar_url}}?s=30"></img>
        <span class="committer"> {{commit.committer.name}} </span>
        <a ng-href="{{commit.url}}" class="message">{{commit.commit.message}}</a>
        <a ng-href="{{commit.url}}" class="sha">{{commit.sha | limitTo:7}}</a>
      </div>
    </div>

    <h4>Files</h4>
    <div class="file_list">
      <div class="file_details"
           ng-repeat="file in convertCtrl.compareResults.files">
        <div class="file_header">{{file.filename}} - {{file.additions}} - {{file.deletions}}</div>
        <div class="patch">
          <pre>{{file.patch}}</pre>
        </div>
      </div>
    </div>

  </div>

</div>
