
.card {
    border:     1px solid #e5e5e5;
    box-shadow: 2px 2px 7px #888;

    width: 100%;
    position: relative;
    margin: 5px 0;

    padding-bottom: 3px;

    background: white;

    list-style-type: none;

    &.dragging {
        background: blue;
    }

    .header {
        margin: 5px;
    }

    .labels {
        @include inline-block-list();

        li {
            padding: 0 4px;
            margin: 0 4px;

            border-radius: 2px;
        }
        li.pull {
            background-color: lightskyblue;
        }
    }

    .title {
        // Undo horizontal list setting
        white-space: normal;
    }
}
