
.card {
    border     : 1px solid #e5e5e5;
    box-shadow : 2px 2px 7px #888;

    width    : 100%;
    position : relative;
    margin   : 5px 0;

    padding-bottom: 3px;

    background: white;

    list-style-type: none;

    /** styling for the build headers */
    .build_header {
        height : 3px;
        width  : 100%;
        background: gray;
    }
    &.success .build_header {
        background: green;
    }
    &.failure .build_header {
        background: red;
    }
    &.pending .build_header {
        background: gray;
    }
    &.unknown .build_header {
        background: gray;
    }

    &.dragging {
        background: blue;
    }

    .header {
        margin: 5px;
    }

    .labels {
        @include inline-block-list();

        li {
            padding: 0 4px;
            margin: 0 4px;

            border-radius: 2px;
        }
        li.pull {
            background-color: lightskyblue;
        }
    }

    .title {
        // Undo horizontal list setting
        white-space: normal;
    }

    /** Voting styling */
    .voting_bar {
        position : relative;
        min-height : 1em;
        @include clearfix;

        .votes {
            @include inline-block-list();
            padding: 5px;

            .vote_avatar {
                max-width    : 20px;
                max-height   : 20px;
                border-style : solid;
                border-width : 2px;
                margin       : 2px;
                border-color : grey;

                &.yes {
                    border-color: green;
                }
                &.no {
                    border-color: red;
                }
            }
        }

        .vote_count {
            float    : right;
            margin   : 4px;
            padding  : 3px;

            border-radius : 9px;
            background    : grey;

            &.positive {
                background: green;
            }
            &.negative {
                background: red;
            }
        }
    }

}


.convert_to_pull {
    margin: 8px;

    .branch-selector {
        display: inline-block;
    }

    .branch-pulldown {
        width: 300px;
        margin-top: 4px;
        margin-bottom: 20px;
        overflow: hidden;
        font-size: 12px;
        color: #666;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 5px;
        box-shadow: 0 3px 12px rgba(0,0,0,0.25);

        .menu-header {
            padding: 8px 10px;
            background-color: #eeeeee;
            background-image: -moz-linear-gradient(#fafafa, #eee);
            background-image: -webkit-linear-gradient(#fafafa, #eee);
            background-image: linear-gradient(#fafafa, #eee);
            background-repeat: repeat-x;
            border-bottom: 1px solid #ddd;
        }

        .menu-list {
            max-height: 400px;
            overflow: auto;
        }

        .menu-item {
            cursor: pointer;
            border-bottom: 1px solid #eee;
            display: table;
            table-layout: fixed;
            width: 100%;
            overflow: hidden;
            color: inherit;

            &:hover {
                background: blue;
            }
        }
    }
}