<div ng-controller="IssueCtrl as issueCtrl"
     class="card"
     ng-class="issueCtrl.getBuildStatus()"
     ng-click="issueCtrl.showIssueDetails()"
    >

  <div ng-if="issueCtrl.isPullRequest()"
       class="build_header"></div>
  <div class="header">
    <a ng-href="{{issueCtrl.issue.html_url}}"
       ng-click="$event.stopPropagation()"
       target="_blank"
       title="Open on GitHub"
       class="number ng-scope">
       <i ng-if="issueCtrl.isPullRequest()" class="icon-code-fork"></i>
       {{issueCtrl.issue.number}}
    </a>
    <span class="title">
      {{issueCtrl.issue.title}}
    </span>
    <img class="avatar"
         title="Assigned to {{issueCtrl.getAssignedUserDetails(30).name}}"
         ng-src="{{issueCtrl.getAssignedUserDetails(30).avatar_url}}"/>
  </div>
  <div class="content">
      <span class="milestone" ng-show="issue.milestone">
        {{issueCtrl.issue.milestone.title}}
      </span>
      <span class="label"
            ng-repeat="label in issueCtrl.issue.labels | nonColumnLabels"
            style="background-color: #{{label.color}}">
          {{label.name}}
      </span>
  </div>
  <div class="reviews"
       ng-if="issueCtrl.issue.tr_comments.length > 0">
    <div class="votes">
        <div class="vote_count"
             ng-class="{
              positive: issueCtrl.issue.tr_comment_voting.total > 0,
              negative: issueCtrl.issue.tr_comment_voting.total < 0
             }">
          {{issueCtrl.issue.tr_comment_voting.total}}
        </div>
        <img ng-repeat="(login, details) in issueCtrl.issue.tr_comment_voting.users"
             class="vote_avatar"
             title="{{login}} {{details.count}}"
             ng-src="{{details.avatar_url}}?s=30"
             ng-class="{
              yes: details.count > 0,
              no: details.count < 0
             }"
             />
    </div>
    <div class="stats">
        <!--<span class="todos"><i class="icon-check"></i>3/6</span>-->
        <span class="comments">
            <i class="icon-comments"></i>
            {{issueCtrl.issue.tr_comments.length}}
        </span>
    </div>
  </div>
</div>

