<div ng-controller="IssueCtrl as issueCtrl"
     class="card"
     ng-class="issueCtrl.getBuildStatus()"
     ng-click="issueCtrl.showIssueDetails()"
    >

  <div ng-if="issueCtrl.isPullRequest()"
       class="build_header"></div>
  <div class="header">
    <span class="title">
      {{issueCtrl.issue.title}}
    </span>
    <img class="avatar"
         title="Assigned to {{issueCtrl.getAssignedUserDetails(30).name}}"
         ng-src="{{issueCtrl.getAssignedUserDetails(30).avatar_url}}"/>
  </div>

  <div class="milestone" ng-show="issue.milestone">
    {{issueCtrl.issue.milestone.title}}
  </div>

  <ul class="labels">
    <li ng-if="issueCtrl.isPullRequest()" class="pull">pull</li>
    <li ng-repeat="label in issueCtrl.issue.labels | nonColumnLabels"
        style="background-color: #{{label.color}}">
      {{label.name}}
    </li>
  </ul>

  <div class="voting_bar">
    <ul class="votes">
      <li ng-repeat="(login, details) in issueCtrl.issue.tr_comment_voting.users">
        <img class="vote_avatar"
             title="{{login}} {{details.count}}"
             ng-src="{{details.avatar_url}}?s=30"
             ng-class="{
              yes: details.count > 0,
              no: details.count < 0
             }"
             ></img>
      </li>
    </ul>

    <div class="vote_count"
         ng-class="{
          positive: issueCtrl.issue.tr_comment_voting.total > 0,
          negative: issueCtrl.issue.tr_comment_voting.total < 0
         }">
      {{issueCtrl.issue.tr_comment_voting.total}}
    </div>
  </div>
</div>

