
.card {
    border     : 1px solid #e5e5e5;
    box-shadow : 2px 2px 7px #888;

    width    : 100%;
    position : relative;
    margin   : 5px 0;

    padding-bottom: 3px;

    background: white;

    list-style-type: none;

    /** styling for the build headers */
    .build_header {
        height : 3px;
        width  : 100%;
        background: gray;
    }
    &.success .build_header {
        background: green;
    }
    &.failure .build_header {
        background: red;
    }
    &.pending .build_header {
        background: gray;
    }
    &.unknown .build_header {
        background: gray;
    }

    &.dragging {
        background: blue;
    }

    .header {
        margin: 5px;
    }

    .labels {
        @include inline-block-list();

        li {
            padding: 0 4px;
            margin: 0 4px;

            border-radius: 2px;
        }
        li.pull {
            background-color: lightskyblue;
        }
    }

    .title {
        // Undo horizontal list setting
        white-space: normal;
    }

    /** Voting styling */
    .voting_bar {
        position : relative;
        min-height : 1em;
        @include clearfix;

        .votes {
            @include inline-block-list();
            padding: 5px;

            .vote_avatar {
                max-width    : 20px;
                max-height   : 20px;
                border-style : solid;
                border-width : 2px;
                margin       : 2px;
                border-color : grey;

                &.yes {
                    border-color: green;
                }
                &.no {
                    border-color: red;
                }
            }
        }

        .vote_count {
            float    : right;
            margin   : 4px;
            padding  : 3px;

            border-radius : 9px;
            background    : grey;

            &.positive {
                background: green;
            }
            &.negative {
                background: red;
            }
        }
    }

}
