<div class="issue_detail"
      ng-controller="IssueCtrl as issueCtrl"
      ng-init="issueCtrl.init(issue)"
      ng-class="{pull: issueCtrl.isPullRequest()}">
   <div class="header">
      <span class="user-selector dropdown">
         <a class="dropdown-toggle">
            <img class="avatar"
                  ng-class="{
                     empty: !issueCtrl.issue.assignee
                  }"
                  title="Assigned to {{(issueCtrl.issue | assignedUser).name}}"
                  ng-src="{{(issueCtrl.issue | assignedUser).avatar_url}}"/>
         </a>
         <ul class="dropdown-menu">
            <h4>Assign to:</h4>
            <li class="assignee"
                  ng-repeat="user in repoModel.assignees"
                  ng-click="issueCtrl.assignUser(user)">
               <img class="avatar" ng-src="{{user.avatar_url}}"></img>
               <span class="user_login">
                  {{user.login}}
               </span>
            </li>
         </ul>
      </span>
      <span class="title">
         {{issueCtrl.issue.title}}
      </span>
      <a class="issue-number"
            target="_blank"
            href="{{issueCtrl.issue.html_url}}"
            title="Open on GitHub">
         <i class="icon-code-fork" ng-if="issueCtrl.isPullRequest()"></i>
         {{issueCtrl.issue.number}}
      </a>
      <i class="close icon-remove" ng-click="$close()"></i>
   </div>
   <div class="status-header">
      <div ng-if="issueCtrl.isPullRequest()"
            class="build-status"
            ng-class="issueCtrl.getBuildStatus()">
         <a target="_blank"
               href="{{issueCtrl.issue.tr_top_build_status.target_url}}" >
            {{issueCtrl.getBuildStatusText()}}
         </a>
      </div>
      <div class="comment-summary">
         <!--<span class="todos"><i class="icon-check"></i>3/6</span>-->
         <span class="comment_number">
            <i class="icon-comments"></i>
            {{issueCtrl.issue.tr_all_comments.length}}
         </span>
         <span class="vote-count"
               ng-class="{
                  positive: issueCtrl.issue.tr_comment_voting.total > 0,
                  negative: issueCtrl.issue.tr_comment_voting.total < 0
               }">
            {{issueCtrl.issue.tr_comment_voting.total}}
         </span>
      </div>
   </div>
   <div class="branch-info"
         ng-show="issueCtrl.isPullRequest()">
      to <pre>{{issueCtrl.issue.tr_pull_details.base.label}}</pre>
      from <pre>{{issueCtrl.issue.tr_pull_details.tr_head.label}}</pre>
   </div>
   <div class="controls">
      <select class="milestone"
            ng-init="msValue=issueCtrl.issue.milestone.number"
            ng-model="msValue"
            ng-options="m.number as m.title for m in repoModel.milestones"
            ng-change="issueCtrl.assignMilestone(msValue)">
         <option value="">No Milestone</option>
      </select><!--Keep collapsed to prevent spacing bug--><div class="label-bar">
         <div class="label-editor dropdown">
            <button class="btn dropdown-toggle-no-close">
               Labels&nbsp;<span class="caret"></span>
            </button>
            <div class="dropdown-menu">
               <div class="label-list no-close">
                  <div class="label-item"
                        ng-repeat="label in repoModel.labels | nonColumnLabels"
                        ng-click="issueCtrl.toggleLabel(label)"
                        ng-class="{
                           enabled: issueCtrl.isLabelEnabled(label.name)
                        }">
                     <span class="color-preview"
                           style="background-color: #{{label.color}}">
                     </span>
                     {{label.name}}
                  </div>
               </div>
             </div>
         </div><!--Keep collapsed to prevent spacing bug--><div class="labels">
            <span class="label"
                  style="background-color: #{{label.color}}"
                  ng-repeat="label in issueCtrl.issue.labels | nonColumnLabels | orderBy:'name'">
               {{label.name}}
            </span>&nbsp;
         </div>
      </div><!--Keep collapsed to prevent spacing bug--><button class="convert-pull btn btn-success"
            ng-if="!issueCtrl.isPullRequest()"
            ng-click="issueCtrl.convertToPull()">
         Convert to Pull
      </button>
   </div>
   <div class="description"
        ng-class="{
         empty: issueCtrl.issue.body.trim() === ''
        }">
      <h4>Description:</h4>
      <div class="issue-body"
         ng-bind-html="issueCtrl.issue.body_html">
      </div>
   </div>
   <div class="comments">
      <div class="comment"
            ng-repeat="comment in issueCtrl.issue.tr_comments">
         <img class="commenter"
               ng-src="{{comment.user.avatar_url}}"/>
         <h4>
            <em>{{comment.user.login}}</em> commented:
         </h4>
         <div class="comment-body"
               ng-bind-html="comment.body_html">
         </div>
      </div>
   </div>
</div>
