<div class="board-toolbar">
  <a ng-href="http://github.com/{{repoFullName}}"><img src="assets/image/GitHub-Mark-64px.png"></img></a>

  <span class="dropdown" >
    <a class="dropdown-toggle-no-close">
      <span ng-if="!repo" >yourname/repo</span>
      <span ng-if="repo" >{{repoFullName}}</span>
    </a>

    <div class="dropdown-menu " >
      <div class="filter" >
        <input type="text" placeholder="Search" ng-model="filterText" class="search-query" ></input>
      </div>

      <ol class="repo-list">
        <li ng-repeat="(owner, repos) in allRepos">
          {{owner}}
          <ol>
            <li ng-repeat="repo in repos | filter:filterText"
                ng-click="onSwitchToRep(repo)">
              {{repo.full_name}}
            </li>
          </ol>

        </li>
      </ol>

    </div>
  </span>
</div>
