<div ng-controller="ColumnsCtrl" >

  <ul class="issue-columns" >
    <li ng-repeat="col_label in config.columns" class="column"

        ng-style="getColumnWidth()"

        ng-controller="IssueColumnCtrl"
        ng-init="init(col_label)" >

      <h1 class="column-header">{{col_label}}</h1>

      <ul class="column-body" ui-sortable="sortableOptions" ng-model="issues" >
        <li class="card"
            ng-model="issue"
            ng-repeat="issue in issues | filter:main.cardSearchText" >

          <div class="header">
            <img class="avatar"
                 title="Assigned to {{issue.user.login}}"
                 ng-src="{{issue.user.avatar_url}}?s=30" />
            <span class="title" ng-click="showIssueDetails(issue)" >
              {{issue.title}}
            </span>
          </div>

          <div class="milestone" ng-show="issue.milestone">
            {{issue.milestone.title}}
          </div>

          <ul class="labels">
            <!-- XXX Look at hiding any column heading labels. -->
            <li ng-repeat="label in issue.labels | filter:excludeColLabel"
                style="background-color: #{{label.color}}">
              {{label.name}}
            </li>
          </ul>

        </li>

      </ul>

    </li>
  </ul>
</div>
