<div ng-controller="ColumnsCtrl as columnsCtrl" >

  <button class="btn btn-primary backlog"
          ng-click="showBacklog = !showBacklog">
    {{showBacklog ? 'Hide Backlog' : 'Show Backlog'}}
  </button>

  <ul class="issue-columns" >
    <!-- Backlog Column -->
    <li ng-show="showBacklog"
        ng-style="getColumnWidth()"
        ng-controller="IssueColumn"
        ng-init="init('colCtrl', {isBacklog:true,
                                  boardCtrl: boardCtrl
        })" >

      <h1 class="column-header">{{colCtrl.columnName}}</h1>

      <a class="btn btn-success"
         ng-href="https://github.com/{{boardCtrl.owner}}/{{boardCtrl.repo}}/issues/new"
         target="_blank">Create Issue</a>

      <!-- CARDS List -->
      <ul class="column-body" ui-sortable="colCtrl.sortableOptions()"
                              ng-model="colCtrl.issues" >
        <div class="card_wrapper"
            ng-repeat="issue in colCtrl.issues | filter:main.cardSearchText">
          <div ng-include="'board/columns/issue.tpl.html'"></div>
        </div>
      </ul> <!-- end of card list -->
    </li>

    <!-- Kanban Columns -->
    <li ng-repeat="col_label in boardCtrl.config.columns" class="column"

        ng-style="getColumnWidth()"

        ng-controller="IssueColumn"
        ng-init="init('colCtrl', {labelName:col_label,
                                  boardCtrl: boardCtrl
        })" >

      <h1 class="column-header">{{colCtrl.columnName}}</h1>

      <!-- CARDS List -->
      <ul class="column-body" ui-sortable="colCtrl.sortableOptions()"
                              ng-model="colCtrl.issues" >
        <div class="card_wrapper"
            ng-repeat="issue in colCtrl.issues | filter:main.cardSearchText">
          <div ng-include="'board/columns/issue.tpl.html'"></div>
        </div>
      </ul> <!-- end of card list -->
    </li>

  </ul>
</div>
