// Remove bullet from cards
.card-wrapper { list-style: none; }

ul.user-list, ul.issue-columns, ul.milestone-columns, ul.column-body {
    margin:  0;
    padding: 0;
}

ul.issue-columns, ul.milestone-columns {
    @include inline-block-list-container();
    margin-left: 25px;

    > li {
        @include inline-block-list-item();

        vertical-align: top;
    }
}


.btn.backlog {
  @include rotate(90deg);
  @include transform-origin(0, 100%);
  position: absolute;
  top: 175px;
}


.column-header {
    text-align: left;

    position: relative;
    box-sizing: border-box;
    margin-top: 0;
    color: $color-background;

    line-height: 20px;
    margin-bottom: 10px;
    padding: 3px 4px 3px 7px;
    box-shadow: 0 1px 1px transparentize($color-lightest, .6) inset;
    background: transparentize($color-lightest, .4);
    font-size: 100%;

    .wip_count {
        background: transparent;
        padding:3px 5px;
        line-height:1em;
        border-radius:50px;
        color: transparentize($color-background, .4);
        float: right;

        &.over_limit {
            background: $color-danger;
            color: $color-lightest;
            border-bottom   : 1px solid rgba(0, 0, 0, 0.35);
            border-right    : 1px solid rgba(0, 0, 0, 0.35);
            text-shadow     : 0 -1px 1px rgba(0, 0, 0, 0.35);
        }
    }
}

.column {
    margin: 0;
    padding: 0 10px;
    margin-before: 0;

    vertical-align: top;

    box-sizing: border-box;

    // hack: make sure the columns are large enough for the dropzone
    min-height: 1000px;
}

.column-body {
    // Make sure there is some place to put drag issues to
    min-height: 1000px;
}
