/***************************************
 *        COLUMNS
 ***************************************/

// ISSUE VARS & MIXINS
// -------------------------------------------------------
$backlog-width: 19%;

// SHARED COMPONENTS
// -------------------------------------------------------
// Remove bullet from cards
.card-wrapper {
  list-style      : none;
}

.user-list,
.issue-columns,
.milestone-columns,
.column-body {
  margin          :  0;
  padding         : 0;
}

// COMPONENTS
// -------------------------------------------------------
/************* COLUMNS ****************/

// Stretch column containers to fill height
.columns,
.columns > div{
  height:100%
}

// Container around cards that scrolls
.issue-columns,
.milestone-columns {
  @include inline-block-list-container();
  margin-left     : 25px;
  overflow        : auto;
  height          : 100%;
  padding-top     : 8px;
  padding-top     : $header-height + 8px;
  @include box-sizing(border-box);
  @include transition(margin $animation-speed ease-in);

  // Columns
  > li {
    @include inline-block-list-item();
    vertical-align    : top;
  }
}

// Text labels on the top of each column
.column-header {
  position        : relative;
  @include box-sizing(border-box);
  margin-top      : 0;
  margin-bottom   : 10px;
  padding         : 3px 4px 3px 7px;
  background      : transparentize($color-lightest, .4);
  box-shadow      : 0 1px 1px transparentize($color-lightest, .6) inset;
  font-size       : 1em;
  line-height     : 1.5em;
  text-align      : left;
  color           : $color-background;

  // Number of cards in each column
  .wip-count {
    position        : absolute;
    right           : 0;

    padding         : 3px 5px;
    background      : transparent;
    border-radius   : 50px;
    color           : transparentize($color-background, .4);
    line-height     : 1em;

    // Highlight numbers that are over threshold
    &.over-limit {
      background      : $color-danger;
      border-bottom   : 1px solid rgba(0, 0, 0, 0.35);
      border-right    : 1px solid rgba(0, 0, 0, 0.35);
      color           : $color-lightest;
      text-shadow     : 0 -1px 1px rgba(0, 0, 0, 0.35);
    }
  }
}

.column {
  @include box-sizing(border-box);
  min-height      : 100%;
  margin          : 0;
  padding         : 0 10px;
  margin-before   : 0;
  vertical-align  : top;
}

.column-body {
  // Make sure there is some place to put drag issues to
  min-height      : 1000px;
}

/************* BACKLOG PANEL ****************/
// Left drawer that contains all the backlog issues
#backlog-drawer {
  position         : fixed;
  top              : $header-height;
  bottom           : 0;
  left             : 0;
  width            : $backlog-width;

  @include transition(width $animation-speed ease-in);

  // Styling for the drawer's background
  .drawer {
    position      : fixed;
    left          : 0;
    top           : $header-height;
    bottom        : 0;
    @include box-sizing(border-box);
    @include transition(left $animation-speed ease-in);
    z-index       : 1;
    width         : $backlog-width;
    background    : desaturate(lighten($color-background, 10),5);
    border-radius : 0 0 0 $br-card;
    box-shadow    : 1px 1px 3px rgba(0, 0, 0, 0.5);
    overflow-y    : auto;
    overflow-x    : hidden;
    padding       : 8px 12px 10px 8px;
  }
}

// Drawer that hides and shows the panel
#backlog-toggle-btn{
    position        : absolute;
    top             : 5px;
    right           : -20px;
    z-index         : 10;
    padding         : 5px;
    padding-bottom  : 6px;
    background      : lighten($color-grey,30);
    border          : 1px solid lighten($color-grey,20);
    border-radius   : 0 $br-card $br-card 0;
    color           : $color-grey;
    text-shadow     : 0 1px 0 $color-lightest;
    font-size       : 1.5em;  // size of the icon
}

// Styling when backlog is visible
.show-bl{
  // Move backlog on screen
  #backlog-drawer .drawer{
    left            : 0;
  }
  // Move other columns over
  .issue-columns{
    margin-left     : $backlog-width + 2%; // leave room for scrollbar
  }
}

// Styling when backlog is hidden
.hide-bl{
  // move backlog offscreen
  #backlog-drawer {
    width           : 0;

    .drawer{
      left            : $backlog-width * -1;
    }
  }
}

// Link to github's new issue page
#new-issue{
  display         : block;
  text-align      : center;
  background      : transparentize($color-lightest, .85);
  border          : 2px dashed transparentize($color-lightest, .5);
  border-radius   : $br-card;
  padding         : 5px;
  color           : transparentize($color-lightest, .5);
  font-weight     : bold;

  // look like a button when hovered over
  &:hover,&:active{
    @include background-image(linear-gradient(lighten($color-primary,10), darken($color-primary,5)));
    border          : 1px solid $color-primary;
    border-color    : darken($color-primary,5) darken($color-primary,5) darken($color-primary,15);
    box-shadow      : inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    padding         : 6px;
    color           : $color-lightest;
    text-decoration : none;
  }

  &:active {
    @include background-image(linear-gradient(darken($color-primary,10), darken($color-primary,5)));
  }

}

// Dropdown list of milestone fileters
.milestone-selection {
  width           : 100%;
}
