@import "app/board/toolbar/toolbar";
@import "app/board/columns/issues";

.board.container {
    // bootstrap container is required so that we can use the navbar
    // however the container defaults to a 960 width which does not work for us.
    width: 100%;
}

ul.user-list, ul.issue-columns, ul.column-body {
    margin:  0;
    padding: 0;
}

ul.issue-columns {
    @include inline-block-list-container();

    > li {
        @include inline-block-list-item();

        vertical-align: top;
    }
}

.avatar {
    max-width: 30px;
    max-height: 30px;
    border-radius: 5px;
}
