
.repos_base.container {
    // bootstrap container is required so that we can use the navbar
    // however the container defaults to a 960 width which does not work for us.
    width: 100%;
}

ul.user-list, ul.issue-columns, ul.column-body {
    margin:  0;
    padding: 0;
}

ul.issue-columns {
    @include inline-block-list-container();
    margin-left: 25px;

    > li {
        @include inline-block-list-item();

        vertical-align: top;
    }
}

.avatar {
    max-width: 30px;
    max-height: 30px;
    border-radius: 5px;
}

.btn.backlog {
  @include rotate(90deg);
  @include transform-origin(0, 100%);
  position: absolute;
  top: 175px;
}