<div id="issue-filters-drawer"
     ng-controller="IssueFilterCtrl as filterCtrl"
     ng-init="filterCtrl.init()" >

  <div class="drawer" class="hide" ng-class="{show: fitlerCtrl.showDrawer,
                                             hide: !fitlerCtrl.showDrawer}" >
    <button id="filter-toggle-btn"
            ng-click="fitlerCtrl.showDrawer = !fitlerCtrl.showDrawer" >
      <span ng-if="fitlerCtrl.showDrawer"><i class="icon-caret-right"></i></span>
      <span ng-if="!fitlerCtrl.showDrawer"><i class="icon-caret-left"></i></span>
    </button>
    <h1>Filters</h1>
    <div class="content">
      <ul >
        <li ng-click="filterCtrl.setFilter('owner', sessionModel.user.login)"
            ng-class="{active: issueFilters.owner == sessionModel.user.login}">
          Assigned to Me
          <i class="icon-remove"></i>
        </li>
        <li ng-click="filterCtrl.setFilter('reviewer', sessionModel.user.login)"
            ng-class="{active: issueFilters.reviewer == sessionModel.user.login}">
          Reviewed by Me
          <i class="icon-remove"></i>
        </li>
        <li ng-click="filterCtrl.setFilter('buildFailing', true)"
            ng-class="{active: issueFilters.buildFailing}">
          Failing Build
          <i class="icon-remove"></i>
        </li>
      </ul>
      <h3>Collaborator</h3>
      <ul class="collaborator">
        <li class="avatar"
            ng-repeat="user in repoModel.assignees | filter:{login: '!'+sessionModel.user.login}"
            ng-click="filterCtrl.setFilter('owner', user.login)"
            ng-class="{active: issueFilters.owner == user.login}" >
          <img ng-src="{{user.avatar_url}}" ng-title="{{user.login}}" />
        </li>
      </ul>
      <h3>Milestone</h3>
      <ul>
        <li ng-repeat="milestone in repoModel.milestones"
            ng-click="filterCtrl.setFilter('milestone', milestone.title)"
            ng-class="{active: issueFilters.milestone == milestone.title}" >
          {{milestone.title}}
          <i class="icon-remove"></i>
        </li>
      </ul>
      <h3>Label</h3>
      <ul>
        <li ng-repeat="label in repoModel.labels | nonColumnLabels"
            ng-click="filterCtrl.toggleArrayFilter('labels', label.name)"
            ng-class="{active: issueFilters.labels.indexOf(label.name) >= 0}" >
          <span class="color-preview"
                style="background-color: #{{label.color}}"></span>
          {{label.name}}
          <i class="icon-remove"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
