/***************************************
 *        FILTER PANEL
 ***************************************/

// FILTER VARS & MIXINS
// -------------------------------------------------------
$filter-width: 175px;   // width of the filter panel

// SHARED COMPONENTS
// -------------------------------------------------------

// COMPONENTS
// -------------------------------------------------------
// Right drawer that contains all the filters
#issue-filters-drawer {
  position        : fixed;
  top             : $header-height - 1;
  bottom          : 0;
  right           : 0;

  // Styling for the drawer's background
  .drawer {
    position      : fixed;
    right         : 0;
    top           : $header-height - 1;
    bottom        : 0;
    box-sizing    : border-box;
    @include transition(right $animation-speed ease-in);
    z-index       : 1;
    width         : $filter-width;
    background    : $color-lightest;
    border-radius : 0;
    box-shadow    : 1px 1px 8px rgba(0, 0, 0, 0.5);

    // When drawer is hidden, move off the right side of the screen
    &.hide {
      display         : block;
      right           : $filter-width * -1;
    }

    &.show {
      right           : 0;
    }
  }

  // Drawer that hides and shows the panel
  #filter-toggle-btn {
    position        : absolute;
    top             : 1px;
    left            : -20px;
    padding         : 5px;
    background      : lighten($color-grey,30);
    border          : 1px solid lighten($color-grey,20);
    border-right-color: lighten($color-grey,30); // so the button merges into the header
    border-radius   : $br-card 0 0 $br-card;
    color           : $color-grey;
    text-shadow     : 0 1px 0 $color-lightest;
    font-size       : 1.5em;  // size of the icon

  }

  // Main header "Filters"
  h1 {
    position        : relative;
    z-index         : 100; // move it above content
    margin          : 0;
    padding         : 6px;
    background      : lighten($color-grey,30);
    border-top      : 1px solid lighten($color-grey,20);
    border-bottom   : 1px solid lighten($color-grey,20);
    color           : $color-grey;
    font-size       : 1.2em;
    line-height     : 1.2em;  // so the line height doesn't add any height
    text-shadow     : 0 1px 0 $color-lightest;
  }

  // Scrollable area on the panel
  .content{
    position        : absolute;
    top             : 0;
    left            : 0;
    box-sizing      : border-box;
    width           : 100%;
    height          : 100%;
    overflow-y      : auto;
    overflow-x      : hidden;
    padding-top     : 2.4em; // height of the header
  }

  // Subheadings for each of the filter categories
  h3{
    padding         : 0 6px;
    margin          : 6px 0 3px;
    color           : $color-grey;
    font-size       : .9em;
    line-height     : .9em;
  }

  // Lists of filters in each category
  ul {
    list-style      : none;
    margin          : 0;
  }

  // Filters
  li {
    padding         : 6px;
    margin          : 2px 6px;
    border-radius   : 3px;
    cursor          : pointer;

    // Small close icon on the right side
    // Hide unless the filter is active and hovered over
    .icon-remove{
      float           : right;
      display         : none;
      padding         : 3px;
    }

    &:hover{
      background      : lighten($color-grey,30);
    }
  }

  // Filters that are currently applied
  .active{
    background      : $color-primary;
    color           : $color-lightest;

    &:hover{
      background: darken($color-primary,10);

      // Show the small close icon when
      // an active filter is hovered over
      .icon-remove{
        display       :block;
      }
    }
  }

  // Filters of collaborators (images)
  .collaborator{
    margin-left:12px;
  }

  // Small user pictures in collaborators
  .avatar {
      display       : inline-block;
      padding       : 0;
      margin        : 0;
      border: 3px solid $color-lightest;
      border-radius : 0;

      &.active{
        border-color: $color-primary;
        box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5);
        position: relative;

        &:hover{
          border-color: darken($color-primary,10);
        }
      }

      &:hover {
        border-color: lighten($color-grey,30);
      }
  }
}
