<!DOCTYPE html>
<html lang="en" ng-app="Trestle" ng-controller="AppCtrl as appCtrl" >

  <head>
    <title>Trestle</title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>

  <body ui-view="body"
        ng-class="{
		  'no-scroll': modalIsUp
		}">
  </body>

</html>
