$color-background   : #2c3e50;
$color-danger       : #e74c3c;
$color-success      : #27ae60;
$color-primary      : #3498db;
$color-grey         : #95a5a6;
$color-lightest     : #fff;
$color-darkest      : #000;

$br-card            : 3px;      // border radius for the cards
$header-height      : 45px;     // height of the header
$animation-speed    : .5s;

